---
import Layout from '../layouts/Layout.astro';
import NewCard from '../components/NewCard.astro';
---

<Layout title="Welcome">
	<div class="flex justify-center items-center bg-slate-200">
		<NewCard/>
	</div>
</Layout>

<style>
	
</style>
